@font-face {
  font-family: "Chin";
  src: url("./assets/Chintzy/chintzy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#counter {
  background-image: url("./assets/tile01.gif");

  filter: brightness(20%);
}

body {
  font-family: "Chin", monospace;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
#progressbar {
  width: 50%;
}
#volcontrol {
  appearance: slider-vertical;
  margin-top: 50px;
  margin-left: 30px;
}
